.faq-sec-1 {
    height: 20rem;
    background-image: url(https://images.pexels.com/photos/4386466/pexels-photo-4386466.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: center; 
    display: flex;
    align-items: center;
    color: white;
}

.faq-sec-2 {
    margin: 40px auto;
}
.heading-with-icon {
    margin: 10px 0px;
    width: 100%;
}
.heading-with-icon button:hover {
    background-color: var(--bggray);
}
.fa-chevron-circle-down {
    float: right;
    color: var(--bgblue);
}
.heading-with-icon button {
    position: relative;
    background-color: white;
    color:var(--blue);
    cursor: pointer;
    width:100%;
    border-top:none;
    border-bottom: 1px dashed var(--gray);
    border-left: none;
    border-right: none;
    text-align: left;
    padding: 15px 0px;
    font-size: 1rem;
    outline: none;
    border-radius: 0;
}

.fas-left {
    margin-right: 5px;
}

.doctor-other-text .content {
    margin: 0px 0px 10px;
    max-height: 0;
    width: auto;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #e4f3ffa2;
}